[user]
	email = tfox@createksolutions.com
	name = Tim Fox
[init]
	defaultBranch = main
[pull]
	rebase = true
[fetch]
	prune = true
[push]
	autoSetupRemote = true
[diff]
	algorithm = histogram
[merge]
	conflictstyle = zdiff3
[rerere]
	enabled = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[core]
	compression = -1
[http]
	postBuffer = 1048576000
